.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1rem;

  &__logos {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .main-header__navigation {
    display: none;
  }
}
