@use "reset/reset";
@use "hero-section/hero-section";
@use "hero-section/main";
@use "hero-section/header";
@use "variables/colors";
@use "variables/fonts";
@use "components/section";
@use "components/navigation-buttons";

@function toRem($target, $context: 16) {
  @return ($target / $context) * 1rem;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../media/main-photo.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: fonts.$font-primary;
}

h1,
h2,
h3 {
  font-family: fonts.$font-display;
  font-weight: 400;
}
