@use "reset/reset";
@use "hero-section/main";
@use "hero-section/header";
@use "variables/colors";
@use "variables/fonts";

$base-size: 16;
@function toRem($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../media/main-photo.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: fonts.$font-primary;
}

h1,
h2,
h3 {
  font-family: fonts.$font-display;
  font-weight: 400;
}

.section {
  min-height: 100vh;
  background-color: #fff;
  padding: toRem(16);

  &__title {
    font-size: 2.5rem;
    color: colors.$color-text--dark;

    &::after {
      content: "";
      display: block;
      background-color: colors.$color-primary--dark;
      width: 80%;
      height: toRem(3);
      margin: toRem(20) 0;
    }

    &--hero {
      color: #fff;

      &::after {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    color: colors.$color-text--light;

    &--hero {
      color: #fff;
    }
  }
}
