@use "../functions/torem";
@use "../variables/fonts";

footer {
  height: torem.toRem(1071.61);
  min-height: 100vh;
  padding-left: torem.toRem(16);
  color: #fff;
  justify-content: space-between;
  background-color: #172432;
  padding-top: torem.toRem(80);
  padding-bottom: torem.toRem(84);
}

.part-footer {
  display: flex;
  flex-direction: column;
  gap: torem.toRem(12);

  &__title {
    font-family: fonts.$font-primary;
    font-size: torem.toRem(28);
    font-weight: bold;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: torem.toRem(12);
  font-size: torem.toRem(18);
}

.head-footer {
  display: flex;
  flex-direction: column;

  &__logos {
    display: flex;
    align-items: center;
  }
}

.icons {
  gap: torem.toRem(28);
  display: flex;
}

.copyright-text {
  font-size: torem.toRem(14);
}
