@use "../functions/torem";

@media screen and (min-width: 768px) {
  .destinations-section__navigation-buttons {
    position: absolute;
    top: torem.toRem(153);
    right: 0;
    padding: 0 torem.toRem(16);
  }
}
