@use "../functions/torem";

.hero__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: torem.toRem(24) 0;

  &__logos {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__header__navigation {
    display: none;
  }
}
