@use "../functions/torem";

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: torem.toRem(24) 0;

  &__logos {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .main-header__navigation {
    display: none;
  }
}
