@use "../variables/colors";
@use "../variables/fonts";
@use "../functions/torem";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: torem.toRem(100);

  &__titles {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: torem.toRem(16);
  }
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: torem.toRem(528);
  background-color: #fff;
  border-radius: torem.toRem(16);

  &__label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: fonts.$font-primary;
    font-size: torem.toRem(14);
    padding: torem.toRem(20);
    color: colors.$color-text--light;

    input {
      font-family: fonts.$font-display;
      font-size: torem.toRem(14);
      color: colors.$color-text--dark;
      outline: none;
      border: none;
      margin-top: torem.toRem(8);
      border-bottom: torem.toRem(1) solid colors.$color-text--dark;
    }
  }

  &__button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: torem.toRem(40) torem.toRem(20);
    border-radius: 0 0 torem.toRem(16) torem.toRem(16);
    font-size: torem.toRem(36);
    color: #fff;
    background-color: colors.$color-primary--dark;
    font-family: fonts.$font-display;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
  }

  .booking-form {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    border-radius: 0 torem.toRem(16) torem.toRem(16) 0;

    &__button {
      width: torem.toRem(170);
      padding: torem.toRem(40) torem.toRem(20);
      border-radius: 0 torem.toRem(16) torem.toRem(16) 0;
      font-size: torem.toRem(36);
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
