@use "../variables/colors";
@use "../variables/fonts";

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.hero__titles {
  color: #fff;
  gap: 1rem;

  .section-title--hero,
  .section-subtitle--hero {
    color: #fff;
  }
}

.hero-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  gap: 3.75rem;

  &__label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: fonts.$font-primary;
    font-size: 0.875rem;
    color: colors.$color-text--light;
    border-bottom: 1px solid colors.$color-text--dark;

    input {
      font-family: fonts.$font-display;
      font-size: 0.875rem;
      color: colors.$color-text--dark;
    }
  }

  &__button {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    color: #fff;
    background-color: colors.$color-primary--dark;
    font-family: fonts.$font-display;
  }
}
