@use "../functions/torem";
@use "../variables/colors";

.blog-article {
  display: flex;
  flex-direction: column;
  gap: torem.toRem(32);

  &__photo {
    border-radius: torem.toRem(16);
    object-fit: cover;
    height: torem.toRem(314);
  }

  .blog-text {
    display: flex;
    flex-direction: column;
    gap: torem.toRem(24);

    &__title::after {
      font-size: torem.toRem(40);
      display: none;
    }

    &__content {
      font-size: torem.toRem(18);
      line-height: torem.toRem(42);
    }

    a {
      font-size: torem.toRem(24);
      color: colors.$color-primary--dark;

      span {
        padding-left: torem.toRem(20);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .blog-article {
    flex-direction: row;
    align-items: center;

    &__photo {
      object-fit: cover;
      width: 50%;
      height: 100%;
    }
  }
}
