@use "../variables/colors";
@use "../functions/torem";

.blog-article {
  display: flex;
  flex-direction: column;
  gap: torem.toRem(32);

  &__photo {
    border-radius: torem.toRem(16);
    object-fit: cover;
    height: torem.toRem(314);
  }

  .blog-text {
    display: flex;
    flex-direction: column;
    gap: torem.toRem(24);

    &__title::after {
      display: none;
    }

    &__paragraph {
      font-size: torem.toRem(18);
      line-height: torem.toRem(42);
    }

    a {
      font-size: torem.toRem(24);
      color: colors.$color-primary--dark;

      span {
        padding-left: torem.toRem(20);
      }
    }
  }
}
