@use "../variables/colors";

$base-size: 16;
@function toRem($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

section {
  min-height: 100vh;
}

.section {
  padding: toRem(100) toRem(16);
  background-color: #fff;

  &__title {
    font-size: 2.5rem;
    color: colors.$color-text--dark;

    &::after {
      content: "";
      display: block;
      background-color: colors.$color-primary--dark;
      width: 80%;
      height: toRem(3);
      margin: toRem(20) 0;
    }

    &--hero {
      color: #fff;

      &::after {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    color: colors.$color-text--light;

    &--hero {
      color: #fff;
    }
  }
}
