@use "../variables/colors";
@use "../functions/torem";

.section {
  padding: torem.toRem(100) torem.toRem(16);
  background-color: #fff;
  gap: torem.toRem(100);
}

.section-header {
  &__heading {
    font-size: torem.toRem(40);
    color: colors.$color-text--dark;

    &::after {
      content: "";
      display: block;
      background-color: colors.$color-primary--dark;
      width: 80%;
      height: torem.toRem(3);
      margin: torem.toRem(20) 0;
    }

    &--hero {
      color: #fff;

      &::after {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: torem.toRem(18);
    color: colors.$color-text--light;

    &--hero {
      color: #fff;
    }
  }
}
